.site__title a {
  padding-top: 2.2rem;
}

.btn--nav-main {
  top: 2.2rem;
}

.page__teaser {
  font-style: italic;
}

.method-list {
  list-style: none;
  padding: 0;
  margin-top: 4rem;
  display: flex;
  flex-flow: row wrap;
}

.method-list-item {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  padding-right: 3%;
  border-top: 1px solid #eaecf0;
  margin: 0;
  margin-top: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media ( max-width: 768px ) {
  .method-list-item {
    width: 50%;
  }
}

@media ( max-width: 480px ) {
  .method-list-item {
    width: 100%;
  }
}


.method-list-hed {
  border: none;
}

.method-list-link {
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
