---
layout: default
type: method
---

<div class="page__parent-title">Process</div>
<h1 class="page__title">{{page.title}}</h1>
<p class="page__teaser">{{page.teaser}}</p>

{{ content }}

<ul class="method-list">
    {% assign methods = site.methods |  where: 'category', page.category %}
    {% for method in methods %}
    <li class="method-list-item method-list-item--{{ method.category }}">
      <div class="method-list-content">
        <h2 class="method-list-hed">{{ method.title }}</h2>
        <p class="method-list-desc">{{ method.teaser }}</p>
      </div>
      <a class="method-list-link" href="{{ method.url }}">Read more</a>
    </li>
    {% endfor %}
</ul>
